<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>nrvparks.com - List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let park of Data.Parks" [class.hide]="!park.Visible" (click)="SetActivePark(park)" menuToggle="right">
      {{park.GetTitle()}}
    </button>
  </ion-list>
</ion-content>
